<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de mis familiares</title>
</head>
<body>
    <h1 style="color:red"> Bienvenidxs! </h1>
    <p>Esta es la web para acceder a mi base de datos familiar</p>
    <h1 style="color:brown"> Como funciona?</h1>
    <p>Reemplaza en la URL el nombre del familiar y conoce mas</p>

    <img style="max-width: 300px;" src="https://images.pexels.com/photos/1129615/pexels-photo-1129615.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Familia">
    
</body>
</html>